<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://code.jquery.com/jquery-2.2.4.min.js">
</head>
<body>
    
<div class="wrapper">
  <h1 style="display: flex; justify-content: center; font-size: 4rem;">Education</h1> 
    <section class="block">
      <div class="each-year">
        <div class="title">2021-2025</div>
        <div class="each-event">
          <div style="color: #ffffff;" class="event-description">
            <h5 style="color: #ffffff; font-weight: 600;">Gandhi Institute Of Technology And Management, Bhubaneswar.</h5>
            <h6>B.Tech | Computer Science & Engineering</h6>
        </div>
        </div>
      </div>
    </section>
    
    <section class="block">
      <div class="each-year">
      <div class="title">2019-2021</div>
        <div class="each-event1">
          <div style="color: #ffffff;" class="event-description">
            <h5 style="color: #ffffff; font-weight: 600;">DRIEMS University,Cuttack</h5>
            <h6>Plus 2 | Science(IT)</h6>
          </div>
        </div>
      </div>
    </section>

    <section class="block">
        <div class="each-year">
          <div class="title">2018-2019</div>
          <div class="each-event">
            <div style="color: #ffffff;" class="event-description">
                <h5 style="color: #ffffff; font-weight: 600;">Saraswati Sishu Vidya Mandir,Jagatsinghpur</h5>
                <h6>Matriculation | All</h6>
            </div>
          </div>
        </div>
      </section>

    </div>